In [2]:
3+5*4
#works as a calculator

23

In [7]:
#Using variables to store information
#the 60 is known as an 'assignment'
#Cannot start variable with a number and variables are case sensitive 
weight_kg= 60

In [4]:
#Seeing output of a variable
print(weight_kg)

60

In [6]:
#using functions to do things 
print(weight_kg*weight_kg)

3600

In [10]:
my_number=3
my_float=2.4434343
my_string= 'This is my floating point number: '

In [11]:
#String multiple things together with one print function
print(my_string)

This is my floating point number:

In [12]:
print(my_string, my_float)

This is my floating point number:  2.4434343

In [15]:
weight_kg_text = 'weight in kilograms:'

In [16]:
print(weight_kg_text, weight_kg)

weight in kilograms: 60

In [17]:
print('weight in pounds:', weight_kg*2.2)

weight in pounds: 132.0

In [19]:
print(weight_kg_text, weight_kg)
print('weight in pounds', weight_kg*2.2)
print (weight_kg)
weight_kg=100
print(weight_kg)

weight in kilograms: 100
weight in pounds 220.00000000000003
100
100

In [20]:
x=5
y=6 
print (x+y)

11

In [21]:
x=y
print (x+y)

12

In [22]:
mass = 47.5 
age = 122 
mass = mass *2 
age= age-20
print (mass, age)

95.0 102

In [23]:
first, second= 'Grace', 'Shawn'
third, fourth= second, first
print (third, fourth)

Shawn Grace

In [24]:
import numpy